body{
    margin-top: 50px;
    text-align: center;

}
h1{font-size: 100px;}

#todo{
    font-size: 2rem;
    text-align: ;
    text-decoration: none;

    width: 30%;
    justify-self: center;
    height: fit-content;
    list-style-type: square;

}
#donetasks{
    border-bottom: solid gray;
    font-size: 2rem;
}
ul{margin-bottom: 0;
    list-style-type:square;font-size: 2rem;
    width: 30%;
    padding-left: 2rem;}
#inpuboxt{
    padding-left: 1rem ;
    display: flex;
    flex-direction: row;
}
#addbtn{
    font-size: 2rem;
}
#input{
    font-size: 2rem;
    flex-grow: 1;
}
#todo li:hover{cursor: pointer;}

input.error {
    border: 2px solid red;
    animation: shake 0.3s ease;
  }

  @keyframes shake{
    0% {transform: translateX(0);}
    25% {transform: translateX(-5px)}
    50%{transform: translateX(5px);}
    75%{transform: translateX(-5px);}
    100%{transform: translateX(0px);}}

